{% extends "padre.html" %}

{% load static %}

{% block contenido %}
<div class="wrapper">
  <div id="hpage_cats">
<h1>Política</h1>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Bajada</th>
    </tr>
    </thead>
    <tbody>
      {% for n in noticias %}
       {% if n.seccion == "politica" %}
        <tr>
            <td>{{n.titulo}}</td>
            <td>{{n.bajada}}</td>
        </tr>
       {% endif %} 
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<div class="column">
<div id="featured">
  {% for n in noticias %}
       {% if n.seccion == "politica" %}
  <ul>
    <li>
      <h2>{{n.titulo}}</h2>
      <p class="imgholder"><img src="../images/demo/240x90.gif" alt="" /></p>
      <p>{{n.bajada}}</p>
      <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
    </li>
  </ul>
  {% endif %} 
  {% endfor %}
</div>
</div>
<!--
  {% for n in noticias %}
  {% if n.seccion == "politica" %}
       
        <h2>{{n.titulo}}</h2>
        <h4>{{n.bajada}}</h4>
   
  {% endif %} 
 {% endfor %}
 -->
{% endblock %}