{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<!-- SECCION DEPORTES -->

<div class="wrapper">
  <div id="hpage_cats">
      <div class="text-bg-light p-3">
        <h1>Deportes</h1>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          {% for n in noticias %}
            {% if n.seccion == "deportes" and n.publicado == True %}
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOn{{n.id}}" aria-expanded="false" aria-controls="flush-collapseOn{{n.id}}">
                  {{n.titulo}}
                </button>
              </h2>
              <div id="flush-collapseOn{{n.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div>
                    <a href="{% url 'lectura' n.id %}">
                    <table>
                      <td><img src="/media/{{n.img}}" alt="imagen de {{n.titulo}}" height="50" width="90"></td>
                      <td>{{n.bajada}}</td>
                    </table>
                  </div>
                  <br>
                  <button type="button" class="btn btn-success"> <i class="fa-solid fa-newspaper"></i> Ir a la publicación</button></a>
                    {% if request.user.is_authenticated %}
                      {% if user.id == n.id_user %}
                        <a href="{% url 'editar_publicacion' n.id %}"><button type="button" class="btn btn-primary"></i> Editar</button></a>
                        <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Borrar</a>
                        <div class="collapse" id="collapseExample">
                          <div class="card card-body">
                            ¿Borrar definitivamente?<a href="{% url 'borrar_publicacion' n.id %}"><button type="button" class="btn btn-danger"><i class="fa-solid fa-square-minus"></i> Si</button></a>
                          </div>
                        </div>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
            {% endif %} 
          {% endfor %}
        </div>
      </div>
  </div>
</div>

{% endblock %}