{% extends "padre.html" %}

{% load static %}

{% block contenido %}
<div class="wrapper">
  <div id="hpage_cats">
<h1>Deportes</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Bajada</th>
    </tr>
    </thead>
    <tbody>
      {% for n in noticias %}
       {% if n.seccion == "deportes" %}
        <tr>
            <td>{{n.titulo}}</td>
            <td>{{n.bajada}}</td>
        </tr>
       {% endif %} 
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}