{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<!-- SECCION DEPORTES -->

<div class="wrapper">
  <div id="hpage_cats">
    <div class="sticky-top">
      <div class="text-bg-light p-3">
        <h1>Deportes</h1>
      </div>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        {% for n in noticias %}
          {% if n.seccion == "deportes" and n.publicado == True %}
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOn{{n.id}}" aria-expanded="false" aria-controls="flush-collapseOn{{n.id}}">
                {{n.titulo}}
              </button>
            </h2>
            <div id="flush-collapseOn{{n.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">{{n.bajada}}
                <br>
                <a href="{% url 'lectura' n.id %}"><button type="button" class="btn btn-success"> <i class="fa-solid fa-newspaper"></i> Ir a la publicación</button><   
              </div>
            </div>
          {% endif %} 
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}