{% extends "padre.html" %}

{% load static %}

{% block contenido %}
<script>

function countChars(obj){
    document.getElementById("charNum").innerHTML = obj.value.length+' caracteres (max 140)';
}
function countCharsBajada(obj){
    document.getElementById("charNum2").innerHTML = obj.value.length+' caracteres (max 10 mil)';
}
function countCharsCuerpo(obj){
    document.getElementById("charNum3").innerHTML = obj.value.length+' caracteres (max 30 mil)';
}
</script>

<div class="wrapper">
    <div id="hpage_cats">
        
        <h1>Ingresar nueva publicación</h1>
       
        <form action="nueva_publicacion" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        
        <!-- SELECTOR DE SECCION DE LA NOTICIA -->

            <label for="selector-seccion" class="form-label">Sección</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="seccion" id="selector-seccion" required>
                <option value="politica" selected>Política</option>
                <option value="economia">Economía</option>
                <option value="sociedad">Sociedad</option>
                <option value="deportes">Deportes</option>
            </select>
        <br>


        <!-- TITULO HASTA 140 CARACTERES -->

        <div class="mb-3">
            <label for="id_titulo" class="form-label">Título</label>
            <td><input type="text" class="form-control" size="140" id="id_titulo" placeholder="Título hasta 140 caractéres" name="titulo" onkeyup="countChars(this);" required></td>
            <td><h5 id="charNum">0 caractéres</h5> </td>
        </div>
        <br>


        <!-- TEXTAREA BAJADA HASTA 10 MIL CARACTERES-->

        <div class="mb-3">  
            <label for="Textarea_Bajada" class="form-label">Bajada</label>
            <textarea class="form-control" name="bajada" id="Textarea_Bajada" minlength="0" maxlength="10000" rows="3" placeholder="Hasta 10k caractéres" onkeyup="countCharsBajada(this);" required></textarea>
            <td><h5 id="charNum2">0 caractéres</h5> </td>
        </div>
        <br>

        
        <!-- TEXTAREA CUERPO HASTA 30 MIL CARACTERES-->

        <div class="mb-3">  
            <label for="Textarea_Cuerpo" class="form-label">Cuerpo</label>
            <textarea class="form-control" name="cuerpo" id="Textarea_Cuerpo" minlength="0" maxlength="30000" rows="3" placeholder="Hasta 30k caractéres" onkeyup="countCharsCuerpo(this);" required></textarea>
            <td><h5 id="charNum3">0 caractéres</h5> </td>
        </div>
        <br>

        <!-- Imagen del posteo -->

        <br>
        <div class="mb-3">
            <input class="form-control" type="file" placeholder="imagen" aria-label="default input example" name="img" id="id_img" required>
        
        </div>
        <br>
         <!-- NOMBRE Y MAIL DE REDACTORXS -->
        
        <div class="mb-3">
            <label for="id_nombre_user" class="form-label">Nombre</label>
            <td><input type="text" class="form-control" size="140" id="id_nombre_user" value="{{user.username}}" name="nombre_user" readonly ></td>
            
        </div>
        <br>
        <div class="mb-3">
            <label for="id_id_user" class="form-label">ID de Usuario</label>
            <td><input type="number" class="form-control" size="140" id="id_id_user" value={{user.id}} name="id_user" readonly ></td>
            
        </div>


        <!-- SELECTORES BOOLEANOS de publicar y home -->

        <form class="row g-3">
            <div class="col-md-1">
                <div class="form-group">
                    <label for="id_publicado" class="form-label">Publicado</label>
                    <select class="form-control" v-model="allowMultiple" name="publicado" id="id_publicado">
                        <option v-bind:value="true">Si</option>
                        <option v-bind:value="false">No</option>
                    </select>
                </div>
            </div>
        <br>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="id_home" class="form-label">Home</label>
                    <select class="form-control" v-model="allowMultiple" name="home" id="id_home">
                        <option v-bind:value="true">Si</option>
                        <option v-bind:value="false">No</option>
                    </select>
                </div>
            </div>
        <br>
        <button type="submit" class="btn btn-primary">Publicar</button>
        </form>
    </div>
</div>



 <!--  RESOLVER BOOLEANO
     
    Publicado
    <select name="publicado" required>
        <option value=True selected>Si</option>
        <option value=False>No</option>
    </select>
    <br>
    Poner en Home
    <select name="Home" required>
        <option value=True selected>Si</option>
        <option value=False>No</option>
    </select>
    <br>
 

    Publicado
    <input type="checkbox" name="publicado" id="publicado">
    Poner en Home
    <input type="checkbox" name="home" id="home">

-->
{% endblock %}