{% extends "padre.html" %}

{% load static %}

{% block contenido %}
<div class="wrapper">
    <div id="hpage_cats">
<h2><strong>Resultados de la búsqueda ordenados desde el mas reciente</strong></h2>

{% if noticias %}
<div id="comments">
<ul class="commentlist">
    {% for n in noticias %}
        <li class="comment_odd">
            <div class="author">
                <span class="name">
                    id: {{n.id}} | 
                    Título: {{n.titulo}}
                </span>
            </div>
           
        Bajada: {{n.bajada}}
        <br>
        <strong>Sección:{{n.seccion}} </strong>
    </li>
        
        <br>
    {% endfor %}
</ul>
</div>
{% else %}
    <p>No se encontraron noticias</p>
</div>
</div>
{% endif %}


{% endblock %}