{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<div class="wrapper">
  <div id="hpage_cats">
    {% for n in noticias %}
      {% if n.publicado %}
        <p>
          <strong>
            <div class="text-bg-light p-4">  
              <h1>{{n.titulo}}</h1>
            </div>
          </strong>
        </p>
        <p>{{n.bajada}}</p>
        <p>Sección: 
          {% if n.seccion == "politica" %}
            {% with secc="Política" %}
            <a href="{% url 'politica' %}"><span class="badge bg-secondary">{{secc}}</span> </a>
            {% endwith %}
          {% elif n.seccion == "economia" %}
            {% with secc="Economía" %}
            <a href="{% url 'economia' %}"><span class="badge bg-secondary">{{secc}}</span></a>
            {% endwith %}
          {% elif n.seccion == "sociedad" %}
            {% with secc="Sociedad" %}
            <a href="{% url 'sociedad' %}"><span class="badge bg-secondary">{{secc}} </span></a>
            {% endwith %}
          {% elif n.seccion == "deportes" %}
            {% with secc="Deportes" %}
            <a href="{% url 'deportes' %}"><span class="badge bg-secondary">{{secc}}</span></a>
            {% endwith %}
          {% endif %}
        </p>
        <p>Autor/a: {{n.periodistxs}}</p>
        <p>ID: {{n.id}}</p>
      {% endif %}
    {% endfor %}
    <a href="{% url 'inicio' %}"><button type="button" class="btn btn-success"> <i class="fa-solid fa-newspaper"></i> Volver al inicio</button></a>
  </div>
</dv>

{% endblock %}