{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<div class="wrapper">
  <div id="hpage_cats">
    <br>
    <h1>
      <div class="card bg-dark text-white">
        <img src="{% static 'portal/layout/images/descarga.png' %}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="text-white bg-dark">Acerca de</h5>
          <p class="text-dark bg-white" align="justify">
            Soy Sebastián Siddi, licenciado en comunicación audiovisual y trabajo en una agencia de noticias desde hace mas de 11 años por eso elegí para este proyecto emular un sitio similar al de una cablera de noticias.
            En la agencia me desempeño como jefe de editores de sonido ya que también soy operador técnico de radio 

            En este proyecto solo se trabaja con carga de información en formato texto y fotografía separada por secciones. Para el caso de la entrega del trabajo final cualquier visitante puede registrarse y generar nuevo contenido.
        </div>
      </div>
    </h1>
  </div>
</div>
{% endblock %}