{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<div class="wrapper">
  <div id="hpage_cats">
    <h1>Editar Perfil | {{usuario}}</h1>
    <img SRC= "{{url}}" alt="foto de perfil"  width="100" height="70"></p>
    <!-- Botón para cambiar avatar -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-user-plus"></i> Cambiar avatar
    </button>
    <br>
    <!-- Ventana para elegir imagen -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Seleccione archivo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="cambiar_avatar" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="modal-body">
              <input class="form-control" type="file" placeholder="imagen" aria-label="default input example" name="imagen" id="imagen" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>
    <!-- Formulario para cambiar mail y contraseña -->
    <form action="" method="POST">
    {% csrf_token %}
      {{miFormulario.as_p}}
      <button type="submit">Modificar</button>
    </form>
  </div>
</dv>

{% endblock %}