
{% extends "padre.html" %}

{% load static %}

{% block contenido %}
<script>

function countChars(obj){
    document.getElementById("charNum").innerHTML = obj.value.length+' caracteres (max 140)';
}
function countCharsBajada(obj){
    document.getElementById("charNum2").innerHTML = obj.value.length+' caracteres (max 10 mil';
}

</script>

<div class="wrapper">
    <div id="hpage_cats">
        <h1>editar publicación</h1>
    
    <form action="{% url 'editar_publicacion' formulario_publicacion.id %}" method="POST">
       
        {% csrf_token %}
    <select name="seccion" required>
        <option value="politica" selected>Política</option>
        <option value="economia">Economía</option>
        <option value="sociedad">Sociedad</option>
        <option value="deportes">Deportes</option>
      </select>
    <br>
    <br>
    <h3>Título</h3>
    <td><input type="text" class="form-control" size="140" id="exampleFormControlInput1" placeholder="Título hasta 140 caractéres" name="titulo" onkeyup="countChars(this);" required></td>
    <td><h5 id="charNum">0 caractéres</h5> </td>
    <br>
    <h3>Bajada</h3>
    <br>
    <textarea class="form-control" name="bajada" id="exampleFormControlTextarea1" rows="6" cols="140" placeholder="Bajada hasta 10k caractéres" onkeyup="countCharsBajada(this);" required></textarea>
    <td><h5 id="charNum2">0 caractéres</h5> </td>
    <br>
    <br>
    Nombre:
    <input type="text" size="100" name="periodistxs" required>
    <br>
    <br>
    E-mail:
    <input type="email" size="100"  name="email_preiodistxs" required>
    <br>
    <br>
<!--    Publicado
    <select name="publicado" required>
        <option value=True selected>Si</option>
        <option value=False>No</option>
    </select>
    <br>
    Poner en Home
    <select name="Home" required>
        <option value=True selected>Si</option>
        <option value=False>No</option>
    </select>
    <br>
 

    Publicado
    <input type="checkbox" name="publicado" id="publicado">
    Poner en Home
    <input type="checkbox" name="home" id="home">

-->
   
    <div class="form-group">
        <label for="">Publicado</label>
        <select class="form-control" v-model="allowMultiple" name="publicado">
            <option v-bind:value="true">Si</option>
            <option v-bind:value="false">No</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Poner en home</label>
        <select class="form-control" v-model="allowMultiple" name="home">
            <option v-bind:value="true">Si</option>
            <option v-bind:value="false">No</option>
        </select>
    </div>
    
    <input type="submit" value="Enviar">

</form>
</div>
</div>

{% endblock %}