{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<h1>formulario</h1>


<form action="formulario_lectorxs" method="POST">
    {% csrf_token %}

    <p>nombre:</p>
    <input type="text" name="nombre_lectorxs">
    <br>
    <input type="text" name="pass_lectorxs">
    <br>
    <input type="text" name="email_lectorxs">
    <br>
    <input type="number" name="dnai_lectorxs">
    <br>
    <input type="date" name="fecha_nacimiento">
    <br>
    <input type="submit" value="Enviar">
</form>


{% endblock %}