{% extends "padre.html" %}

{% load static %}

{% block contenido %}
<h2><marquee behavior="" direction="">{% for n in noticias %}
[Últimos Títulos] {{n.seccion}}: {{n.titulo}}
{% endfor %}</marquee></h2>
<div class="wrapper">
  <div id="hpage_cats">
    {% for n in noticias %}
      {% if n.home %}
        <h2><a href="{{n.seccion}}">{{n.seccion}} &raquo;</a></h2>
        <p><strong><a href="#">{{n.titulo}}</a></strong></p>
        <p>{{n.bajada}}</p>
      {% endif %}
    
    {% endfor %}
  </div>
</div>



{% endblock %}